/* Première slide */
.title h1 {
    text-transform: none;
    margin-left: 15%;
    margin-top: 12%;
    right: 0%;
    color: dimgray;
}

.main-title p {
    color: dimgray
}

.title .preamble {
    padding-top: 15% !important;
}

div.main-title {
    background-repeat: no-repeat;
    background-size:  16%, 18% auto, 100% 100%, 100% 100%;
    background-position: 10% 40%, 85% 75%, 0 0, 0 0;
    background-image:
            url("images/nodejs-icon.svg"),
            url("images/nestjs.svg"),
            radial-gradient(closest-side, white, 70%, white, transparent),
            conic-gradient(from -0.125turn, #07836b, darkslateblue, #6a1520, #ffcd22, #07836b);
    background-color: white;
    padding-left: 28%;
    max-width: 72%;
}

section.title.present:not(.stack) {
    padding-bottom: 35%;
}
/* Fin première slide */


section.end-title {
    padding-left: 1% !important;
}

div.end-title {
    background-repeat: no-repeat;
    background-size:
            10%, 12% auto,
            9em auto,9em auto,9em auto,9em auto,
            100% 100%, 100% 100%;
    background-position:
            15% 35%, 80% 70%,
            0 10%, 0 90%, 100% 90%, 100% 10%,
            0 0, 0 0;
    background-image:
            url("images/nodejs-icon.svg"),
            url("images/nestjs.svg"),
            url("images/man_walk.svg"),
            url("images/man_sit.svg"),
            url("images/man_zen.svg"),
            url("images/man_write.svg"),
            radial-gradient(closest-side, white, 70%, white, transparent),
            conic-gradient(from -0.125turn, #07836b, darkslateblue, #6a1520, #ffcd22, #07836b);
    background-color: white;
    padding-left: 28%;
    max-width: 72%;
}


.end-title h2 {
    padding-left: 15%;
    margin-top: 12%;
    text-shadow: none;
    font-size: 3em;
    color: dimgray;
    text-transform: none;
}

.end-title .paragraph:not(.credits) p {
    padding-top: 11%;
    text-shadow: none;
    color: dimgray;
}


.credits p {
    font-size: 1em;
    position: absolute;
    left:83%;
    color: whitesmoke;
    text-shadow: none;
    padding-top: 9%;
}

.instance p {
    font-size: 1em;
    position: absolute;
    color: dimgray;
    text-shadow: none;
    padding-top: 12%;
}

div.backgrounds .histoire {
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 9em auto, 9em, 15em 15em;
    background-position: 0 50%, 0 0, 100% 100%;
    background-image: url("images/man_walk.svg"), linear-gradient(90deg, #07836b, 70%, white), url("images/page-curl.svg") ;
}
section.histoire.present:not(.stack) {
    margin: 0 0 0 4em;
}

div.backgrounds .moi {
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 9em auto, 9em, 15em 15em, 30em auto;
    background-position: 0 50%, 0 0, 100% 100%, 90% 0;
    background-image:
            url("images/man_walk.svg"),
            linear-gradient(90deg, #07836b, 70%, white),
            url("images/page-curl.svg") ,
            url("logo/onepoint_black.png") ;
}
section.moi.present:not(.stack) {
    margin: 0 0 0 4em;
}

div.backgrounds .vocabulaire {
    background-repeat: no-repeat, no-repeat;
    background-size: 7em auto, 9em ;
    background-position: 1em 50%, 0 0, 0 0;
    background-image: url("images/man_write.svg"), linear-gradient(90deg, darkslateblue, 70%, white);
}
section .past {
    margin: 0 0 0 4em;
}
section .present {
    margin: 0 0 0 4em;
}
section .futur {
    margin: 0 0 0 4em;
}


div.backgrounds .existant {
    background-repeat: no-repeat, no-repeat;
    background-size: 9em auto, 9em ;
    background-position: 0 50%, 0 0, 0 0;
    background-image: url("images/man_sit.svg"), linear-gradient(90deg, #ffcd22, 70%, white);
}
section.existant.present:not(.stack) {
    margin: 0 0 0 4em;
}


div.backgrounds .astuce {
    background-repeat: no-repeat, no-repeat;
    background-size: 9em auto, 9em ;
    background-position: 0 50%, 0 0, 0 0;
    background-image: url("images/man_yolo.svg"), linear-gradient(90deg, darkgreen, 70%, white);
}
section.astuce.present:not(.stack) {
    margin: 0 0 0 4em;
}


div.backgrounds .victoire {
    background-repeat: no-repeat, no-repeat;
    background-size: 9em auto, 9em ;
    background-position: 0 50%, 0 0, 0 0;
    background-image: url("images/man_houra.svg"), linear-gradient(90deg, darkmagenta, 70%, white);
}
section.victoire.present:not(.stack) {
    margin: 0 0 0 4em;
}


div.backgrounds .attention {
    background-repeat: no-repeat, no-repeat;
    background-size: 9em auto, 9em ;
    background-position: 0 50%, 0 0, 0 0;
    background-image: url("images/man_return.svg"), linear-gradient(90deg, #6a1520, 70%, white);
}
section.attention.present:not(.stack) {
    margin: 0 0 0 4em;
}



div.backgrounds .synthese {
    background-repeat: no-repeat, no-repeat;
    background-size: 9em auto, 9em ;
    background-position: 0 50%, 0 0, 0 0;
    background-image: url("images/man_zen.svg"), linear-gradient(90deg, #6C8EBF, 70%, white);
}
section.synthese.present:not(.stack) {
    margin: 0 0 0 4em;
}

div.backgrounds .injection {
    background-repeat: no-repeat, no-repeat;
    background-size: 5em auto, 9em ;
    background-position: 1.5em 50%, 0 0;
    background-image: url("images/injection.svg"), linear-gradient(90deg, #D79B00, 70%, white);
}
section.watch.injection:not(.stack) {
    margin: 0 0 0 4em;
}

div.backgrounds .inversion {
    background-repeat: no-repeat, no-repeat;
    background-size: 5em auto, 9em ;
    background-position: 1.5em 50%, 0 0;
    background-image: url("images/inversion.svg"), linear-gradient(90deg, #9673A6, 70%, white);
}
section.watch.inversion:not(.stack) {
    margin: 0 0 0 4em;
}

div.backgrounds .isolation {
    background-repeat: no-repeat, no-repeat;
    background-size: 5em auto, 9em ;
    background-position: 1.5em 50%, 0 0;
    background-image: url("images/isolation.svg"), linear-gradient(90deg, #82B366, 70%, white);
}
section.watch.isolation:not(.stack) {
    margin: 0 0 0 4em;
}


div.backgrounds .titre {
    background-repeat: no-repeat;
    background-size:  100% 100%, 100% 100%;
    background-position: 0 0, 0 0;
    background-image:
            radial-gradient(closest-side, white, 70%, white, transparent),
            conic-gradient(from -0.125turn, #07836b, darkslateblue, #6a1520, #ffcd22, #07836b);
    background-color: white;
    padding-left: 28%;
    max-width: 72%;
}

section.has-dark-background h2 {
    color: dimgray;
}

section.titre.present:not(.stack) {
    background-color: transparent;
    height: 70%;
    margin: 0 0 0 0;
    color: dimgrey;
}

.titre h2, .titre p {
    text-shadow: none;
    color: dimgrey;
}

.code pre {
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.code pre code{
    max-height: 100%;
}

div.listingblock div.title {
    text-align: left;
    font-size: 0.8em;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.colist {
    text-align: left;
}

div.colist p{
    font-size: 0.75em;
    margin: 0;
}

div.colist li::marker {
    font-size: 0.75em;
}